export(blm,lexpit,EO,which.at.boundary,Rsquared,expit,logit,gof,gof.pearson)
exportClasses(blm,lexpit)
importFrom("stats",coef,confint,vcov,predict,resid)
exportMethods(show,coef,vcov,predict,confint,summary,resid,dBeta)
