export(blm,
       lexpit,
       expit,
       hosmerlem,
       logistic.rd,
       logistic.rr,
       logistic.dispersion,
       logistic.baseline,
       blm.rr)
importFrom(stats,coef,vcov)
exportClasses(blm,lexpit)
exportMethods(summary,print,show,coef,vcov,vcovBoot,gof,ci,predict,dispersion)
